body{
    background-color: black;
    color:#c96969;
    cursor: url("images/star-cursor (2).png") 16 16, auto !important;
}
.box{
  color: black;  
}
.navbar {
  height: 200px;
  background-image:
    linear-gradient(
      to right,
      #c96969 0%,
      #c96969 40%,
      rgba(201, 105, 105, 0.5) 70%,
      rgba(201, 105, 105, 0) 100%
    ),
 url("https://staticg.sportskeeda.com/editor/2026/06/5a651-17825911510564-1920.jpg");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}

.back-button {
    color: black;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #c96969;
    background-color: white;
}
h1{
    font-size: 55px;
    text-decoration: underline wavy #c96969;
}
h2{
    font-size: 30px;
}
h3{
   font-size: 25px;
}
body{
    font-family: 'Courier New', Courier, monospace;
    cursor: url("images/star-cursor.png"), auto;
}
.link{
    color:#c96969;
}.card {
  position: relative;
  width: 100%;
}

.info-box {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  width: 300px;
  min-height: 200px;

  background: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 100;
}

.card:hover .info-box {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}
.box div {
  box-sizing: border-box;
}
.first-card .info-box {
    left: 0;
    transform: scale(0.8);
}

.first-card:hover .info-box {
    transform: scale(1);
}
.description {
    width: 80%;
    margin: 40px auto;
    color: white;
    font-size: 25px;
    text-align: center;
}