body{
    background-color: black;
    color:#c96969
}
.box{
  color: black;  
}
.navbar {
    background-color: #c96969;
    padding: 14px 20px;
}

.back-button {
    color: black;
    font-size: 55px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}
.back-button:hover {
    color:#c96969;             
    background-color:white; 
    }