body{
    background-color: black;
    color:#c96969
}
.box{
  color: black;  
}
.navbar {
  height: 80px;
  background:
    linear-gradient(to right,
      #c96969 0%,
      #c96969 40%,
      rgba(79, 41, 41, .3) 70%,
      rgba(79, 41, 41, 0) 100%
    ),
    url("https://image.idntimes.com/post/20260627/clipdown_27f7e555-187c-43af-8cf9-a8c28671f67a.jpg?tr=w-640");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

.back-button {
    color: black;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #c96969;
    background-color: white;
}
h1{
    font-size: 55px;
    text-decoration: underline wavy #c96969;
}
h2{
    font-size: 30px;
}
h3{
   font-size: 25px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.link{
    color:#c96969;
}