body{
    cursor: url("images/heart.png") 32 32, auto;
    background-color:#FDFBF7 ;
    color:#AEC6CF ;
}
.box{
  color:#FDFBF7 ;  
}
.top-navbar {
    height: 150px;
    background-image:
        linear-gradient(
            to right,
            #FADADD  0%,
            #FADADD  40%,
            rgba(250, 218, 221,0.5) 70%,
            rgba(250, 218, 221,0) 100%
        ),
        url("https://images.plex.tv/photo?size=large-1280&url=https:%2F%2Fmetadata-static.plex.tv%2Fc%2Fgracenote%2Fc35aa9a2b620e8fb86dd0b4d3ee616d0.jpg");

    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding-left: 30px;
}

.back-button {
    color:#FDFBF7;
    background-color:#AEC6CF;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #AEC6CF ;
    background-color:#FDFBF7 ;
}
h1{
    font-size: 55px;
    color:#AEC6CF 
}
h2{
    font-size: 30px;
}
h3{
   font-size: 25px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.link{
    color:#AEC6CF ;
}.card {
  position: relative;
  width: 100%;
}

.info-box {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  width: 300px;
  min-height: 200px;

  background: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 100;
}

.card:hover .info-box {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}
.box div {
  box-sizing: border-box;
}
.first-card .info-box {
    left: 0;
    transform: scale(0.8);
}

.first-card:hover .info-box {
    transform: scale(1);
}
.description {
    width: 80%;
    margin: 40px auto;
    color: #FADADD ;
    font-size: 25px;
    text-align: center;
}
.media {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
    align-items: center;
}

.poster {
    width: 250px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;
}

.video {
    flex: 1;  
    height: 500px;  
    border: none;
}
