body{
    background-color: #0B0C10;
    color:#C5C6C7 ;
}
.box{
  color: #1E2640;  
}
.navbar {
  height: 200px;
  background-image:
    linear-gradient(
      to right,
      #1F2833 0%,
      #1F2833  40%,
      rgba(12, 16, 20, 0.5) 70%,
      rgba(12, 16, 20, 0) 100%
    ),
 url("https://www.gamersdecide.com/sites/default/files/2023-04/main222.jpg");
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
}

.back-button {
    color: #FFFFFF;
    background-color:#29C5FF  ;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #29C5FF;
    background-color: FFFFFF ;
}
h1{
    font-size: 55px;
    color:#ffffff;
}
h2{
    font-size: 30px;
    color:#FFFFFF;
}
h3{
   font-size: 25px;
   color:#FFFFFF;
}
body{
    font-family: 'Courier New', Courier, monospace;
    color:#A9B2C3;
}
.link{
    color:#29C5FF ;
}
.card {
  position: relative;
  width: 100%;
}

.info-box {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  width: 300px;
  min-height: 200px;

  background: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 100;
}

.card:hover .info-box {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}
.box div {
  box-sizing: border-box;
}
.first-card .info-box {
    left: 0;
    transform: scale(0.8);
}

.first-card:hover .info-box {
    transform: scale(1);
}
.description {
    width: 80%;
    margin: 40px auto;
    color: white;
    font-size: 25px;
    text-align: center;
}
.character-container{
    display:flex;
    justify-content:center;
    gap:25px;
    width:90%;
    margin:40px auto;
}


.character-card{
    text-align:center;
    width:180px;
}


.character-card img{
    width:180px;
    height:225px;
    object-fit:cover;
    border-radius:10px;

    transition:transform 0.3s;
}


/* Hover effect */
.character-card img:hover{
    transform:scale(1.08);
}


.character-card h3{
    margin-top:10px;
    color:white;
    font-family:Arial, sans-serif;
}