body{
    cursor: url("images/heart.png") 32 32, auto;
    background-color:#1C1A1E ;
    color:#FFFDF5 ;
}
.box{
  color:#1C1A1E ;  
}
.top-navbar {
    height: 150px;
    background-image:
        linear-gradient(
            to right,
            #FFFDF5  0%,
            #FFFDF5  40%,
            rgba(28, 26, 30,0.5) 70%,
            rgba(28, 26, 30,0) 100%
        ),
        url("https://prod-images.viu.com/3066795/1f12b2478fcfb50291bbaf38d00df0c18e9bb976");

    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    padding-left: 30px;
}

.back-button {
    color:white;
    background-color:#D4AF37;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    padding: 14px 20px;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: #FFFDF5 ;
    background-color:#1C1A1E ;
}
h1{
    font-size: 55px;
    color:#FFFDF5 
}
h2{
    font-size: 30px;
}
h3{
   font-size: 25px;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
.link{
    color:#FFFDF5 ;
}.card {
  position: relative;
  width: 100%;
}

.info-box {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%) scale(0.8);

  width: 300px;
  min-height: 200px;

  background: #333;
  color: white;
  padding: 20px;
  border-radius: 10px;

  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  z-index: 100;
}

.card:hover .info-box {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  pointer-events: auto;
}
.box div {
  box-sizing: border-box;
}
.first-card .info-box {
    left: 0;
    transform: scale(0.8);
}

.first-card:hover .info-box {
    transform: scale(1);
}
.description {
    width: 80%;
    margin: 40px auto;
    color: #1C1A1E ;
    font-size: 25px;
    text-align: center;
}
.video {
    width: 100%;
    height: 600px;
    border: none;
}
